# 1. Genome: Define the physical sequence properties
genome:
  length: 5        # Number of nucleotides, need to match initial_sequence length, if provided

# 2. Population: Define how many individuals start the simulation
population:
  initial_size: 50  # Number of sequences in the first generation
  # OPTIONAL: Provide a starting sequence.
  # If commented out or removed, it will be random.
  initial_sequence: "AAAAA"

# 3. Epochs: Define the evolutionary "stages"
# You can add multiple epochs to simulate changing environments
epochs:
  - name: "Baseline_Evolution"
    generations: 500  # Run for 500 generations
    mutator:
      rate: 0.003    # Probability of mutation per site per replication
    fitness:
      type: "purifying"
      params:
        intensity: 0.0005   # Higher = stronger selection against mutations
  - name: "Converged_Evolution"
    generations: 500
    mutator:
      rate: 0.002
    fitness:
      type: "purifying"
      params:
        intensity: 0.1
  - name: "Interaction_Test"
    generations: 500
    mutator:
      rate: 0.001
    fitness:
      type: "epistatic"
      params:
        # A 5x5 matrix if your genome length is 5
        interaction_matrix:
          - [0.0, 0.1, 0.0, 0.0, 0.0]
          - [0.1, 0.0, 0.0, 0.0, 0.0]
          - [0.0, 0.0, 0.0, 0.0, 0.0]
          - [0.0, 0.0, 0.0, 0.0, 0.0]
          - [0.0, 0.0, 0.0, 0.0, 0.0]

# 4. Sampling: Define what data to save and how often
sampling:
  - type: "stats"
    interval: 10      # Save statistics every 10 generations
    file: "output/results.csv"
  - type: "fasta"
    interval: 100     # Save the full population sequences at the end
    file: "output/final_population.fasta"
  - type: "identity"
    interval: 10
    file: "output/identity.csv"

  - type: "tree"
    interval: 10
    file: "output/ancestry.csv"