# 1. Genome: Define the physical sequence properties
genome:
  length: 50        # Number of nucleotides, need to match initial_sequence length, if provided

# 2. Population: Define how many individuals start the simulation
population:
  initial_size: 100  # Number of sequences in the first generation
  # OPTIONAL: Provide a starting sequence.
  # If commented out or removed, it will be random.
  # initial_sequence: "AAAAA"
  # Or, choose multiple sequences
  initial_sequence: "AAAATTTTTAAAATTTTGGGGGGGGCCCCCCCATCTAGCTAGCTATGCTA"

# 3. Epochs: Define the evolutionary "stages"
# You can add multiple epochs to simulate changing environments
epochs:
  - name: "Baseline_Evolution"
    generations: 1000  # Run for 1000 generations
    mutator:
      type: "hotcold"
      params:
        rate: 0.01
        variable_kmers: [ "AAA", "TTT"]
        k_high: 1
        conserved_kmers: [ "GGG", "CCC"]
        k_low: 0.01
        threshold: 0.8
        transition_bias: 2.0
    fitness:
      type: "purifying"
      params:
        intensity: 0.05   # Higher = stronger selection against mutations


# 4. Sampling: Define what data to save and how often
sampling:
  - type: "diversity"
    interval: 10      # Save statistics every 10 generations
    file: "output/diversity.csv"
  - type: "fasta"
    interval: 100     # Save the full population sequences at the end
    file: "output/final_population.fasta"
  - type: "identity"
    interval: 10
    file: "output/identity.csv"
  - type: "initial_alleles"
    interval: 5
    file: "output/initial_freqs.csv"


#  - type: "tree"
#    interval: 10
#    file: "output/ancestry.csv"